In [30]:
import plotly

In [ ]:
plotly.tools.set_credentials_file(username='faramir', api_key='lr1c37zw81')

In [1]:
import pandas as pd
import pylab as pl
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
!dir

 驱动器 C 中的卷是 Windows
 卷的序列号是 FA50-11A9

 C:\Users\xihao\Documents\GitHub\PUI2017_hx517\lab_timeseries 的目录

2017/11/30  19:17    <DIR>          .
2017/11/30  19:17    <DIR>          ..
2017/11/30  19:09    <DIR>          .ipynb_checkpoints
2017/11/30  18:38         1,706,216 ARMA_microdata.ipynb
2017/11/30  18:05               462 fbb_matplotlibrc.json
2017/11/30  18:52         1,448,348 FDNYdeaths.ipynb
2017/11/30  18:38           914,298 fdnydeaths.png
2017/11/30  18:38           503,708 fourier.ipynb
2017/11/30  18:47           325,024 pointOfChange.ipynb
2017/11/30  19:14               166 qwi_26fdea11f42f44ca98ef81fac9764478.csv
2017/11/30  19:14           522,658 qwi_7d09fc8c739345d7becf2e260a6d5977.csv
2017/11/30  19:14           490,261 qwi_e0f274215ff045c5a58946fdf48b9dfc.csv
2017/11/30  18:38         1,030,671 stationarity.ipynb
2017/11/30  19:13             2,169 Untitled.ipynb
              11 个文件      6,943,981 字节
               3 个目录 333,714,374,656 可用字节

In [5]:
data = pd.read_csv('qwi_7d09fc8c739345d7becf2e260a6d5977.csv')

In [6]:
data.columns

Index([u'periodicity', u'seasonadj', u'geo_level', u'geography', u'ind_level',
       u'industry', u'ownercode', u'sex', u'agegrp', u'race', u'ethnicity',
       u'education', u'firmage', u'firmsize', u'year', u'quarter', u'Emp',
       u'HirAEndR', u'sEmp', u'sHirAEndR', u'version'],
      dtype='object')

In [27]:
data1 = data[[u'year',u'quarter',u'geography']]

In [29]:
data1.head()

   year  quarter  geography
0  1993        1         30
1  1993        2         30
2  1993        3         30
3  1993        4         30
4  1994        1         30